body {
  margin: 0;
  padding: 0;
  background-color: #b39c7f;
  font-family: 'Noto Serif Display';font-size: 22px;
}

.container {
  display: flex;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
  gap: 10px;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1}

h4 {
  margin-bottom: 20px;
  font-weight: normal;
  color: #4a3a23;
  font-size: 22px;
}

.box {
  width: 640px;
  height: 640px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  text-align: center;
  font-size: 16px;
  background-color: #4a3a23;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 10px;
}

.brown {
  background-color: #4a3a23;
}

.split {
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  color: #4a3a23;
}

.split .top {
  background-color: #4a3a23;
  height: 75%;
  width: 100%;
}

.split .bottom {
  background-color: white;
  height: 30%;
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tall {
  height: 970px;
  border-radius: 12px;
}
